{% extends 'base.html' %}
{% block title %} Blog App {% endblock title %}
{% block body %}
{% load static %}
{% for msg in messages %}
      
<div class="alert alert-{{msg.tags}} alert-dismissible fade show" role="alert">
  <strong>{{msg}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
<div class="container">
  {% for post in posts %}
  
  <div class="card bg-dark my-4 text-white">
    <img src="/media/{{post.img}}" class="post_bg_img card-img" alt="..." />
    <div class="card-img-overlay">
      <h5 class="card-title">{{post.title}}</h5>
      <p class="card-text">
        {{post.content |slice:"0:200" }}...
      </p>
      <p class="card-text">Author - {{post.author.username}}</p>
      <p class="card-text">{{post.date_posted}}</p>
      <a href="viewPost/{{post.id}}" class="btn btn-primary">Read More</a>
    </div>
  </div>
{% endfor %}
</div>

{% endblock body %}